@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Space+Mono&display=swap');

$primary-font: "Space Mono", "Roboto Mono", sans-serif;
$secondary-font: "Roboto Mono", "Space Mono", sans-serif;
$font-big: 1.5rem;
$font-body: 0.7rem;
$font-small: 0.8rem;
$white-color: white;
$black-color: black;
$grey-color: grey;
$active-color: turquoise;
$font-opacity: 80%;